body{
    background-color:pink;
    text-align:center;
    font-family:cursive;
  }
  h1{
    font-weight:bold;
    font-size:50px;
    color:yellowgreen;
    text-decoration:underline;
  }
  #button{
    font-size:20px;
    color:red;
    font-weight:bold;
    border-radius:75px;
    border:3px solid blue;
    margin-top:20px;
    margin-bottom:20px;
  }
  #textbox{
    font-size:25px;
    font-weight:bold;
    border:2px solid green;
    background-color:cyan;
  }
  label{
    font-size:20px;
  }
  div{
    font-size:25px;
    font-weight:bold;
    color:brown;
  }